/.gradle/
/.idea/
**/build/
**/.cxx/
**/native-clean-*/
**/build-clean*/
**/local.properties
*.jks
*.keystore
*.p12
*.pfx
.env*
*.sav
*.save
*.lcsave
*.gba
*.gbc
*.gb
*.nds

/.kotlin/
*.apk
*.aab
/private-signing/
/validation/
/backups/
