<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"><application android:label="Bruma Prueba RPG" tools:replace="android:label"><receiver android:name="com.hatkid.mkxpz.RpgControlsProbe" android:process=":rpg" android:exported="true" android:permission="android.permission.DUMP" /><receiver android:name="com.hatkid.mkxpz.ClassicControlsProbe" android:process=":rpgclassic" android:exported="true" android:permission="android.permission.DUMP"/><receiver android:name="com.hatkid.mkxpz.RpgLaunchProbe" android:exported="true" android:permission="android.permission.DUMP" /><receiver android:name="com.linkcore.emulator.NdsProbe" android:process=":nds" android:exported="true" android:permission="android.permission.DUMP" /></application></manifest>
